In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([80, 50, 60, 70, 90], index=['Japanese', 'math', 'science', 'society', 'English'])
s1

Japanese    80
math        50
science     60
society     70
English     90
dtype: int64

In [3]:
s2 = pd.Series({'Japanese': 80, 'math': 50, 'science': 60, 'society': 70, 'English': 90})
s2

Japanese    80
math        50
science     60
society     70
English     90
dtype: int64

In [4]:
s1[2]

60

In [5]:
s1['society']

70

In [6]:
s3 = pd.Series({'Japanese': 80, 'math': 50, 'science': 60, 'society': 70, 'English': 90})
s4 = pd.Series({'arts': 100})
s3 = s3.append(s4)
s3

Japanese     80
math         50
science      60
society      70
English      90
arts        100
dtype: int64

In [10]:
df1 = pd.DataFrame([s1, s3], index=['Taro', 'Jiro'])
df1

      Japanese  math  science  society  English   arts
Taro      80.0  50.0     60.0     70.0     90.0    NaN
Jiro      80.0  50.0     60.0     70.0     90.0  100.0

In [11]:
df2 = pd.DataFrame({'Taro': s1, 'Jiro': s2})
df2

          Taro  Jiro
Japanese    80    80
math        50    50
science     60    60
society     70    70
English     90    90

In [13]:
result1 = df1.loc['Taro', 'Japanese']
type(result1), result1

(numpy.float64, 80.0)